a {
    border-bottom: 1px solid rgb(204, 209, 232);
    color: rgb(51, 122, 183);
    text-decoration: none;
}

a:hover {
    color: rgb(35, 97, 158);
    border-bottom-color: rgb(64, 84, 178);
}

body {
    font-family: Roboto, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

button, h2, input, label, select, table {
    margin: 5px;
}

.główneOkno {
    display: table;
    margin: auto;
}

input, select {
    padding: 3px;
}

input[type="number"] {
    width: 50px;
}

.field-validation-error, .validation-summary-errors {
    color: red;
}

h2 {
    color: rgb(119, 119, 119);
    display: inline;
    font-weight: 400;
}

label {
    font-weight: bold;
}

label:after {
    content: ": ";
}

.linkCiemny {
    border-bottom-color: white;
    color: white;
}

.linkCiemny:hover {
    border-bottom-color: rgb(255, 128, 0);
    color: rgb(255, 128, 0);
}

.menu {
    background-color: rgb(40, 45, 76);
    height: 30px;
    margin-bottom: 20px;
}

.nowe {
    color: rgb(76, 175, 80);
}

.nowe, .odebrane, .wysłane, .złożone {
    font-weight: bold;
}

.odebrane {
    color: rgb(126, 165, 255);
}

.przyciskBiały {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
}

.przyciskBiały:hover {
    background-color: rgb(230, 230, 230);
}

.przyciskGranatowy {
    background-color: rgb(53, 60, 106);
    border: none;
    color: white;
}

.przyciskGranatowy:hover {
    background-color: rgb(36, 41, 72);
}

.przyciskBiały, .przyciskGranatowy {
    border-radius: 5px;
    padding: 10px;
}

.przyciskBiały:hover, .przyciskGranatowy:hover {
    cursor: pointer;
}

.tabela {
    border-collapse: collapse;
    color: rgb(51, 51, 51);
    font-size: 13px;
}

.tabela td, th {
    border: 1px solid lightgray;
    padding: 10px;
}

th {
    border-bottom-width: 3px;
}

.użytkownik {
    color: white;
    position: absolute;
    right: 15px;
    top: 8px;
}

.wycentrowanie {
    text-align: center;
}

.wyrównanieDoPrawej {
    text-align: right;
}

.wysłane {
    color: rgb(255, 0, 0);
}

.złożone {
    color: rgb(255, 128, 0);
}