<!DOCTYPE html>
<html>
<head>
    <link href="~/ArkuszStylów.css" rel="stylesheet" />
    <title>Zamówienia KDSH</title>
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
